# bKash API Credentials
BKASH_APP_KEY="cHDSQ3vX2eDv5ZMAPoPNPlnFtc"
BKASH_APP_SECRET="V1hSnG1vAsc79MSjyPUC4K0RdOqWyKv28tZPbU1ol8HSRCvwzF83"
BKASH_USERNAME="01997473177"
BKASH_PASSWORD="V9^@JbA_$6x"
BKASH_BASE_URL="https://tokenized.pay.bka.sh/v1.2.0-beta"

# Database
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="bkash_pay"
DB_PORT=3306

# Security
JWT_SECRET="bkash-payment-gateway-secret-key-2024"
APP_URL="https://bkash.egoluck.com"
PORT=3000
