# bKash API Credentials
BKASH_APP_KEY="cHDSQ3vX2eDv5ZMAPoPNPlnFtc"
BKASH_APP_SECRET="V1hSnG1vAsc79MSjyPUC4K0RdOqWyKv28tZPbU1ol8HSRCvwzF83"
BKASH_USERNAME="01997473177"
BKASH_PASSWORD="V9^@JbA_$6x"
BKASH_BASE_URL="https://tokenized.pay.bka.sh/v1.2.0-beta"

# App URL (Injected by platform, but for local dev/reference)
APP_URL="https://ais-dev-zo4o2htltqug2iq63omyd6-115395507089.asia-east1.run.app"
PORT=3000
